@import url(variables.css);
@import url(resets.css);
@import url(fonts/AtBDigital/fontface.css);
@import url(animations.css);

body {
    font-family: "AtBDigital", sans-serif;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.heading {
    font-size: 3em;
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 1rem 0;
}

.heading__image {
    height: 4rem;
}

.heading__muted, .departures__cell s {
    color: rgb(107, 107, 106);
    font-weight: 300;
}



.departures {
    width: 100%;
    border-collapse: collapse;
   /*  table-layout: fixed; */
}

.cancelled, .departures__row--cancelled, .departures__row--cancelled s{
    color: var(--cancelled);
}

.departures__header, .departures__row:nth-child(even) {
    background-color: rgb(217, 217, 217);
}

.departures__header, .departures__cell {
    padding: .5rem 1rem;
    text-align: left;
    white-space: nowrap;
}

.departures__header {
    font-weight: normal;
}

/* .departures__header:first-child {
    width: 16ch;
}

.departures__header:nth-child(2) {
    width: 12ch;
}

.departures__header:nth-child(3) {
    width: min-content;
}

.departures__header:nth-child(4) {
    width: 7ch;
}
*/
.departures__header:nth-child(5) {
    width: 100%;
} 

.departures__information {
    overflow: hidden;
    vertical-align: middle;
    position: relative;
    color: black;
    flex: 1;
}

.departures__information:has(.departures__marquee)::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, #d9d9d9 0%, #d9d9d900 5%, #d9d9d900 95%, #d9d9d9 100%);
}

.departures__list {
    list-style: none;
    padding: 0;
    height: 1.4rem;
    width: 100%;
}

.departures__list-item {
    display: flex;
}

.departures__row:nth-child(odd) .departures__information:has(.departures__marquee)::after {
    background: linear-gradient(90deg, #ffffff 0%, #ffffff00 5%, #ffffff00 95%, #ffffffff 100%);
}

.departures__marquee {
    animation: marquee 10s linear infinite;
    position: absolute;
    white-space: nowrap;
}

.departures__image {
    height: 1.4rem;
    vertical-align: middle;
    animation: flash 2s ease-in forwards;
}

.departures__label {
    color: white;
    padding: .2rem .5rem;
    white-space: nowrap;
    text-align: center;
    font-weight: bold;
}

.departures__label--re {
    background-color: var(--re-green);
}

.departures__label--l {
    background-color: var(--l-blue);
}

.departures__label--ec {
    background-color: var(--ec-blue);
}

.departures__label--ic {
    background-color: var(--ic-red);
}

.departures__label--icl {
    background-color: var(--icl-yellow);
}

.departures__label--icl-plus {
    background-color: var(--icl-plus-pink);
}

.departures__label--sj {
    background-color: var(--sj-gray);
}

@media screen and (max-width: 800px) {
    body {
        font-size: 60%;
    }

    .wrapper {
        padding: 0;
    }

    .heading {
        justify-content: center;
        font-size: 2em;
    }
    
    .departures__header, .departures__cell {
        padding: .2rem .1rem;
        margin: 0;
    }

    .departures__image {
        height: 1rem;
    }
    
    .departures__list {
        height: 1rem;
    }
}


